{% extends 'base.html' %}
{% block title %}Set New Password | Smart Expense Tracker{% endblock %}
{% block page_title %}Choose a new password{% endblock %}
{% block content %}
<section class="auth-card">
  <form method="post" class="stack-form">
    {% csrf_token %}
    <div class="auth-header">
      <h2>Set New Password</h2>
      <p>Enter and confirm your new password below.</p>
    </div>
    {{ form.as_p }}
    <button class="primary-button full-width" type="submit">Update Password</button>
  </form>
</section>
{% endblock %}
